#about{
   padding: 80px 5% 30px;
   
}   
#about h1{
   color:white;
   font-size: 50px;
	text-shadow:1.5px 1.5px rgb(0, 0, 0);
   font-family: 'Forte', cursive;
}
#card_top{
   
 
   display: flex;
   flex-flow: wrap;
   justify-content: center;
}
#card_top .right,
#card_top .left{
   width: 550px;
   min-height: 400px;
   text-align: center;
   margin:15px;
   background-color: #ced9d1;
}
#about #card_top img{
   height: 100%;
   width: 100%;
   
}
#card_bottom {
   background: url(About_background.jpg);
   background-size: cover;
   background-attachment: fixed;
   justify-content: center;
   padding: 10%;
   

}
#card_bottom .card_content{
   background: rgba(0, 0, 0, 0.5);
   min-height: 300px;
   padding: 5px;
   
}
p{
   font-size: 20px;
	padding: 20%, 20px;
   font-family: cursive ;
   text-shadow:1px 1px rgb(241, 238, 238);
   
}
#card_bottom .card_content p{
   color: rgb(255, 255, 255);
   font-size: 20px;
	padding: 20%, 20px;
   font-family: cursive ;
   text-shadow:1px 1px  rgb(0, 0, 0);
   
}

