
#logo{
   padding: 10px;
   margin-left: 70px;
}
.logo{
   height: 50px;
   width: 75px;

}
#navbar{
   display: flex;
   justify-content: space-around;
   background-color:#a7aadb ;
   height: 75px;
   width: 100%;
   align-items: center;  
   position: fixed;
   
}
#navbar .hamburger{
   display: none;
}

.navlinks li{
   float: left;
   list-style-type: none;
   padding: 4px 10px ;
}
.navlinks a{
   text-decoration: none;
   font-family: sans-serif;
   padding: 5px 12px;
   border-radius: 10px;
   font-size: 20px;
   font-weight:bold ;
   color: black;
}
.navlinks a:hover{
   background-color:#6e6f81;
}

.navlinks a:active{
   color:#55555f;
}

@media only screen and (max-width: 750px) {
   #navbar{
      justify-content: space-between;
   }
   #navbar .hamburger{
      display: block;
   }
   #navbar .navlinks{
      display: none;
   }
 }