
.greet{
   text-align:center;
   padding: 30px 10%;
   color: white;
   background: url(menu_cover.jpg) center;
	background-size: cover;
	background-attachment: fixed;
   
}
.greet h1{
	font-size: 50px;
	text-shadow:1.5px 1.5px black;
   font-family: 'Forte', cursive;
   
   

}
.greet h4{
	font-size: 20px;
	padding: 20%, 20px;
   font-family: cursive ;
   text-shadow:2px 2px 50px black;
	
}
/* .dish{
   padding: 7% 2.5%;
   display:flex;
   flex-wrap: wrap;
   justify-content: center;
}
.dish .card{
   width: 250px;
	height: 400px;
	margin:15px;
   background-color: rgb(61, 52, 43);
   color: white;
   box-shadow: 1px 1px 25px rgb(115, 124, 128);
   border-radius: 10px;
   line-height: 1;
}
.card:hover{
   transform: scale(1.1, 1.1);
}
/* .dish:hover > .card:not(:hover){
   filter: blur(10px);
   transform: scale(0.9,0.9);
} */ 



